/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    scrollbar-width: none;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: start;
    font-family: "Inter", sans-serif;
    background-color: #e7e7e1;
    
}

html {
    scroll-behavior: smooth;
}

h2 {
    font-size: 1.5rem;
    color: #20201c;
}

p {
    font-size: 0.8rem;
    color: #20201c;
}


/* Transition */
a,
.btn {
    transition: all 0.3s ease;
}

/* NAVBAR */
nav,
.nav-links,
.navbar-items {
    display: flex;
    flex-direction: column;
    
}

nav,
.content-grid {
    height: 100vh;
    padding: 2rem 2rem;
}

nav {
    box-sizing: border-box;
    justify-content: space-between;
    position: sticky;
    top: 0;
    /* background-color: #e5e7dd; */
}

.navbar-items {
    gap: 2rem;
}

.nav-links {
    gap: 0.5rem;
    list-style: none;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #20201c;
    text-decoration-color: white;
}

.logo {
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: -0.06em;
    color: #20201c;
    text-decoration: underline;
    text-decoration-color: #20201c;
}

.about {
    font-size: 0.6rem;
    color: #20201c;
    max-width: 300px;
    text-align: justify;
}

/* CONTENT GRID */

.content-grid {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    justify-content: start;
    height: 100vh;
    grid-column-gap: 0.5rem;
}

.card{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    background-color: #e2ff70;
    transition: background-color 0.5s ease-in-out, width 0.4s ease-in;
    border-radius: 0.5rem;
}

.card-link {
    text-decoration: none;
    color: inherit;
}


.card-description {
    padding-top: 2rem;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

.card:hover .card-description {
    opacity: 1;
}

.card:hover {
    background-color: var(--hover-color);
}
 

.card-info {
    grid-area: 1 / 1 / 2 / 2; 
    padding: 1rem;
}

.card-info h2, p {
    color: #34351e;
    transition: color 0.3s ease-in-out;
}

.card:hover .card-info h2, .card:hover .card-info p {
    color: var(--text-color);
}

.project-display {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.card-img-container {
    grid-area: 1 / 1;
    display: grid;
    grid-template-columns: 1fr;
}

.card-img-container img{
    width: 300px;
    grid-area: 1 / 1;
    object-fit: cover;
    border-radius: 0.5rem;
}

.card-img-normal {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card-img-blend {
    filter: grayscale(100%);
     mix-blend-mode: multiply;
    transition: opacity 0.5s ease-in-out;
}

.card:hover .card-img-normal {
    opacity: 1;
}

.card:hover .card-img-blend {
    opacity: 0;
}

.card:not(:hover) .card-img-blend {
    transition: opacity 2 ease-in-out;
}

.card.expanded {
    background-color: var(--hover-color);
    width: 80vw;
}

.card.expanded .card-img-normal{
    opacity: 0;

} 

.card.expanded .card-img-blend{
    opacity: 0;

} 


.project-img {
    grid-row: 1;
    grid-column: 1;
    display: grid;

}

.scrollable-page {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.balls-animation{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100% 1fr;
    grid-template-columns: 100% 1fr; 
    justify-items: center;
    box-sizing: border-box;
}

.balls-animation::before,
.balls-animation::after,
.ball1 {
    grid-area: 1/1;
    background-color: black;
    content: "";
    border-radius: 50%;
    filter: blur(80);


}

.balls-animation::before {
    
    width: 100px;
    height: 100px;
    animation: blub1 8s ease-in-out infinite;
}

.balls-animation::after {
    width: 50px;
    height: 50px;
    animation: blub2 10s ease-in-out infinite;
}

.ball1 {
    width: 80px;
    height: 80px;
    animation: blub3 15s ease-in-out infinite;
}